In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv('zomato.csv')

In [2]:
df=df.drop_duplicates(subset ='name')

In [3]:
df.index

Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,     9,
       ...
       51577, 51578, 51579, 51587, 51595, 51607, 51610, 51614, 51632, 51714],
      dtype='int64', length=8792)

In [4]:
df=df.drop(columns=['address','phone','dish_liked','menu_item','reviews_list'])

In [5]:
df['approx_cost(for two people)']=df['approx_cost(for two people)'].replace(np.nan,'NaN')
df=df[df['approx_cost(for two people)']!='NaN']
df['approx_cost(for two people)'].unique()

array(['800', '300', '600', '700', '550', '500', '450', '650', '400',
       '900', '200', '750', '150', '850', '100', '1,200', '350', '250',
       '950', '1,000', '1,500', '1,300', '199', '80', '1,100', '160',
       '1,600', '230', '130', '50', '190', '1,700', '1,400', '180',
       '1,350', '2,200', '2,000', '1,800', '1,900', '2,500', '2,100',
       '3,000', '2,800', '3,400', '40', '1,250', '3,500', '4,000',
       '2,400', '2,600', '120', '1,450', '469', '70', '3,200', '60',
       '560', '240', '360', '6,000', '2,300', '4,100', '5,000', '3,700',
       '1,650', '2,700', '4,500', '140'], dtype=object)

In [6]:
df['approx_cost(for two people)']=df['approx_cost(for two people)'].str.replace(',','')
df['approx_cost(for two people)']=df['approx_cost(for two people)'].dropna()
df['approx_cost(for two people)'].unique()

array(['800', '300', '600', '700', '550', '500', '450', '650', '400',
       '900', '200', '750', '150', '850', '100', '1200', '350', '250',
       '950', '1000', '1500', '1300', '199', '80', '1100', '160', '1600',
       '230', '130', '50', '190', '1700', '1400', '180', '1350', '2200',
       '2000', '1800', '1900', '2500', '2100', '3000', '2800', '3400',
       '40', '1250', '3500', '4000', '2400', '2600', '120', '1450', '469',
       '70', '3200', '60', '560', '240', '360', '6000', '2300', '4100',
       '5000', '3700', '1650', '2700', '4500', '140'], dtype=object)

In [7]:
df['approx_cost(for two people)']=df['approx_cost(for two people)'].astype('float')
df['price_in_dollar']=df['approx_cost(for two people)'] / 88.7

In [8]:
df['rate']=df['rate'].astype('string')
df['rate']=df['rate'].str.replace('.','')

In [9]:
import re
def get_numbers(plus,string):
    if plus == False:
        result=re.findall(r'\d',string)
    elif plus == True:
        result=re.findall(r'\d+',string)
    else:
        pass
    return result
for i in df['rate'].unique():
    try:
        r=get_numbers(True,i)
        df['rate']= df['rate'].str.replace(i,r[0])
    except:
        pass
df['rate'].unique()

<StringArray>
[ '41',  '38',  '37',  '36',  '46',  '40',  '42',  '39',  '31',  '30',  '32',
  '33',  '28',  '44',  '43', 'NEW',  '29',  '35',  <NA>,  '26',  '34',  '45',
  '25',  '27',  '47',  '24',  '22',  '23',   '-',  '48',  '49',  '21',  '20',
  '18']
Length: 34, dtype: string

In [10]:
cbum=df['rate'].isin(['NEW','-']) | df['rate'].isna()
car=df[~cbum].copy()
car['rate']=car['rate'].astype('float')
avg=car['rate'].mean()

In [11]:
df['rate']=df['rate'].replace(['NEW','-',np.nan],'37')

In [12]:
df['rate']=df['rate'].astype('float')
df['rate']=df['rate'] / 10
df['rate'].unique()

array([4.1, 3.8, 3.7, 3.6, 4.6, 4. , 4.2, 3.9, 3.1, 3. , 3.2, 3.3, 2.8,
       4.4, 4.3, 2.9, 3.5, 2.6, 3.4, 4.5, 2.5, 2.7, 4.7, 2.4, 2.2, 2.3,
       4.8, 4.9, 2.1, 2. , 1.8])

In [13]:
df=df.dropna(subset=['cuisines'])
df=df.dropna(subset=['rest_type'])

In [14]:
df['cuisines']=df['cuisines'].astype('string')
df['cuisines']=df['cuisines'].str.split(',')
df1=df.explode('cuisines').reset_index(drop=True)
df1['cuisines']=df1['cuisines'].str.strip()
df1['cuisines'].unique()

array(['North Indian', 'Mughlai', 'Chinese', 'Thai', 'Cafe', 'Mexican',
       'Italian', 'South Indian', 'Rajasthani', 'Andhra', 'Pizza',
       'Continental', 'Momos', 'Beverages', 'Fast Food', 'American',
       'French', 'European', 'Bakery', 'Burger', 'Desserts', 'Biryani',
       'Street Food', 'Rolls', 'Ice Cream', 'Healthy Food', 'Salad',
       'Asian', 'Korean', 'Indonesian', 'Japanese', 'Goan', 'Seafood',
       'Kebab', 'Steak', 'Mithai', 'Iranian', 'Sandwich', 'Juices',
       'Mangalorean', 'Vietnamese', 'Hyderabadi', 'Bengali', 'Arabian',
       'BBQ', 'Tea', 'Afghani', 'Lebanese', 'Finger Food', 'Tibetan',
       'Charcoal Chicken', 'Middle Eastern', 'Mediterranean', 'Wraps',
       'Kerala', 'Oriya', 'Bihari', 'Maharashtrian', 'Bohri', 'African',
       'Nepalese', 'Turkish', 'Tamil', 'Tex-Mex', 'Belgian', 'Gujarati',
       'Roast Chicken', 'South American', 'Konkan', 'Drinks Only',
       'Awadhi', 'Chettinad', 'Coffee', 'Indian', 'Lucknowi',
       'Modern Indian', 'Australian', 'Kashmiri', 'Spanish', 'Malaysian',
       'Burmese', 'Portuguese', 'Parsi', 'Greek', 'North Eastern',
       'Bar Food', 'Singaporean', 'Afghan', 'Naga', 'Cantonese', 'Grill',
       'Sushi', 'Bubble Tea', 'Hot dogs', 'Assamese', 'Sri Lankan',
       'Mongolian', 'Paan', 'British', 'Pan Asian', 'German', 'Russian',
       'Jewish', 'Vegan', 'Raw Meats', 'Malwani', 'Sindhi'], dtype=object)

In [15]:
df['rest_type']=df['rest_type'].astype('string')
df['rest_type']=df['rest_type'].str.split(',')
df2=df.explode('rest_type').reset_index(drop=True)
df['rest_type']=df['rest_type'].replace(' Pub','Pub')
df2['rest_type']=df2['rest_type'].str.strip()

In [16]:
df1.to_csv('expanded_cuisines.csv')
df2.to_csv('expanded_type.csv')

In [17]:
df.to_csv('restaurant-data.csv')